{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}

        <!-- Business source section  -->
        <h3> Business sources</h3>
         <ul>
           {{ macro.displaySourceList(business)}}
        </ul>

        <!-- General source section  -->
        <h3> General sources</h3>
         <ul>
           {{ macro.displaySourceList(general)}}
        </ul>

        <!-- Science source section  -->
        <h3> Science sources</h3>
         <ul>
           {{ macro.displaySourceList(science)}}
        </ul>

        <!-- Entertainment source section  -->
        <h3> Entertainment sources</h3>
         <ul>
           {{ macro.displaySourceList(entertainment)}}
        </ul>

        <!-- Health source section  -->
        <h3> Health sources</h3>
         <ul>
           {{ macro.displaySourceList(health)}}
        </ul>

        <!-- Sports source section  -->
        <h3> Sports sources</h3>
         <ul>
           {{ macro.displaySourceList(sports)}}
        </ul>

        <!-- Technology source section  -->
        <h3> Technology sources</h3>
         <ul>
           {{ macro.displaySourceList(technology)}}
        </ul>

{% endblock%}
