<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Find all the latest news and those that you missed</title>
  {% endif %}
</head>
<body>

    {% import 'macros.html' as macro%}


  <!-- Science section  -->
  <h3> Science </h3>
  <ul>
    {{ macro.displayNewsList(science)}}

  </ul>

  <!-- entertainment section  -->
  <h3> Entertainment </h3>
  <ul>
  {{ macro.displayNewsList(entertainment)}}
  </ul>

  <!-- Health section  -->
  <h3> Health </h3>
  <ul>
  {{ macro.displayNewsList(health)}}
  </ul>

  <!-- Sports section  -->
  <h3> Sports </h3>
  <ul>
    {{ macro.displayNewsList(sports)}}
  </ul>

  <!-- Technology section  -->
  <h3> Technology </h3>
  <ul>
      {{ macro.displayNewsList(technology)}}
  </ul>
</body>
</html>
